section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
@media screen and (min-width: 960px) {
  section {
    height: 100vh;
  }
}
section .about-text {
  color: #264653;
  width: auto;
  margin: 1rem;
}
@media screen and (min-width: 960px) {
  section .about-text {
    width: 50vw;
  }
}
section iframe {
  height: 50vh;
  width: 90vw;
}
@media screen and (min-width: 960px) {
  section iframe {
    width: 35vw;
  }
}
