main .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 80vh;
}
main .hero h1 {
  color: #264653;
}
main .hero p {
  color: #264653;
}
main .hero .btns {
  margin: 1rem;
}
main .hero .btns .project-link {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 1rem;
}
main .hero .btns .project-link h2 {
  color: #264653;
}
