main {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 80vh;
    background-image: url('../bkg-images/sunset.webp');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    h1 {
      color:black;
    }
    p {
      color: black;
      @media screen and (min-width:960px){
        width: 45vw;
      }
    }
    .btns {
      margin: 1rem;
      .project-link {
      border: 1px solid grey;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 1rem;
      @media screen and (min-width:960px){
        
      }
      h2 {
        color: black;
      }
  }
    }
  }
}