main .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 75vh;
  margin: 1rem;
}
main .hero h1 {
  color: black;
  font-size: 3.5rem;
}
main .hero p {
  font-size: 1.2rem;
  color: black;
}
@media screen and (min-width: 960px) {
  main .hero p {
    width: 45vw;
  }
}
main .hero .project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: whitesmoke;
  height: 3rem;
  text-decoration: none;
}
@media screen and (min-width: 960px) {
  main .hero .project-link {
    width: 50vw;
  }
}
main .hero .project-link h2 {
  color: black;
}
