.icon {
  position: absolute;
  z-index: 9999;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 960px) {
  .icon {
    display: none;
  }
}
nav {
  display: none;
}
@media screen and (min-width: 960px) {
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
  }
}
nav .link {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 960px) {
  nav .link h1 {
    margin: 1rem;
    cursor: pointer;
  }
}
.active {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  height: 90vh;
  width: 100vw;
  background-color: aliceblue;
  position: fixed;
  z-index: 999;
}
